<section class="hero">
  <div class="custom-shape-divider-bottom-1763741055">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M1200 120L0 16.48 0 0 1200 0 1200 120z"
        class="shape-fill"
      ></path>
    </svg>
  </div>
  <div class="container">
    <img
      src="{{ '/assets/images/Snowboarder no bg.png' | url }}"
      alt=""
      class="hero__img"
    />
    <div class="hero__content">
      <h1 class="hero__title">Snow Gear & Services to Maximize Send</h1>
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, fugit
        quod? Sed aliquid ipsam sapiente?
      </p>
      <div class="hero__buttons">
        <a
          href="#"
          class="btn btn--primary"
        >
          Schedule Service
        </a>
        <a
          href="#"
          class="btn btn--outline"
        >
          See Gear
        </a>
      </div>
    </div>
  </div>
</section>
