<section class="hero">
  <div class="container">
    <img
      src="{{ '/assets/images/Snowboarder no bg.png' | url }}"
      alt=""
      class="hero__img"
    />
    <div class="hero__content">
      <h1 class="hero__title">Snow Gear & Services to Maximize Send</h1>
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, fugit
        quod? Sed aliquid ipsam sapiente?
      </p>
      <div class="hero__buttons">
        <a
          href="#"
          class="btn btn--primary"
        >
          Schedule Service
        </a>
        <a
          href="#"
          class="btn btn--outline"
        >
          See Gear
        </a>
      </div>
    </div>
  </div>
</section>
