<header>
  <div class="container">
    <div class="navbar">
      <a
        href="{{ '/' | url }}"
        class="logo"
        aria-label="{{ site.name }} - home"
      >
        <picture>
          <source
            media="(min-width:650px)"
            srcset="{{ '/assets/images/logo.png' | url }}"
          />
          <source
            media="(min-width:465px)"
            srcset="{{ '/assets/images/logo.png' | url }}"
          />
          <img
            src="{{ '/assets/images/logo-no-text.png' | url }}"
            alt=""
            class="logo-img"
          />
        </picture>
      </a>
      <nav
        class="main-nav"
        aria-label="main"
      >
        <ul class="nav__list">
          {% for item in site.navigation %}
            <li class="nav__item">
              <a href="{{ item.url | url }}">{{ item.text }}</a>
            </li>
          {% endfor %}
        </ul>
        <a
          href="#"
          class="btn btn--primary"
        >
          Schedule Service
        </a>
      </nav>
      <button class="nav-toggle">
        {% include "svgs/icon-hamburger.svg" %}
        {% include "svgs/icon-close.svg" %}
      </button>
    </div>
  </div>
</header>
